In [111]:
import pandas as pd
import numpy as np

In [112]:
url ='https://github.com/WalePhenomenon/climate_change/blob/master/fuel_ferc1.csv?raw=true'

In [113]:
fuel_data = pd.read_csv(url, error_bad_lines=False)

# Question 3

In [114]:
fuel_data.groupby('fuel_type_code_pudl')['fuel_cost_per_unit_burned'].mean().sort_values(ascending=True)

fuel_type_code_pudl
gas          13.659397
other        18.253856
waste        19.518122
coal         67.421830
oil         168.877086
nuclear    4955.157002
Name: fuel_cost_per_unit_burned, dtype: float64

# Question 4

In [115]:
fuel_data['fuel_mmbtu_per_unit'].std()

10.600220307806886

In [116]:
fuel_data['fuel_mmbtu_per_unit'].describe().round(2)

count    29523.00
mean         8.49
std         10.60
min          0.00
25%          1.02
50%          5.76
75%         17.01
max        341.26
Name: fuel_mmbtu_per_unit, dtype: float64

# Question 5

In [117]:
from scipy.stats import kurtosis, skew

In [118]:
round(skew(fuel_data['fuel_qty_burned']),2)

15.85

In [119]:
round(kurtosis(fuel_data['fuel_qty_burned']),2)

651.26

# Question 6

In [120]:
fuel_data.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [121]:
total_num_missing_values= fuel_data['fuel_unit'].isnull().sum()
print('Total number of missing value is',total_num_missing_values)

total_num_rows = len(fuel_data)
percentage_of_missing_rows=round((total_num_missing_values/total_num_rows)*100,2)

print('Percentage of missing rows is', percentage_of_missing_rows)

Total number of missing value is 180
Percentage of missing rows is 0.61

# Question 8

In [122]:
cor = fuel_data.corr()

In [123]:
cor['fuel_cost_per_unit_burned'].sort_values(ascending=True)

utility_id_ferc1               -0.037863
fuel_qty_burned                -0.018535
fuel_mmbtu_per_unit            -0.010034
fuel_cost_per_mmbtu            -0.000437
fuel_cost_per_unit_delivered    0.011007
report_year                     0.013599
fuel_cost_per_unit_burned       1.000000
Name: fuel_cost_per_unit_burned, dtype: float64

# Question 9

In [124]:
df=fuel_data.groupby(['fuel_type_code_pudl','report_year'])['fuel_cost_per_unit_burned'].mean()

In [125]:
df1= pd.DataFrame(df)

In [126]:
df2 =df1.loc['coal']

In [127]:
(df2.loc[1998]-df2.loc[1994])*100

fuel_cost_per_unit_burned   -393.023303
dtype: float64

In [128]:
((df2['fuel_cost_per_unit_burned'][1998])-(df2['fuel_cost_per_unit_burned'][1994]))*100

-393.0233029673946

In [129]:
(27.616234-31.546467)*100

-393.0233000000001

# Question 10

In [130]:
fuel_data.groupby('report_year')['fuel_cost_per_unit_delivered'].mean().sort_values(ascending=False)

report_year
1997    11140.197239
1996     9196.705948
2000      985.362877
2009      652.694163
2018      499.269966
2015      326.535511
1998      287.154420
2014      192.737183
2013      172.307591
2004      139.524275
2016      103.901761
2010       91.862105
1994       63.636060
2012       60.994502
2001       60.050396
2011       59.774667
2008       58.588197
2003       55.663493
2002       47.594361
2017       46.196861
2007       43.325023
2005       41.438184
2006       38.657484
1995       32.735269
1999       25.551627
Name: fuel_cost_per_unit_delivered, dtype: float64