In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/00235/household_power_consumption.zip', sep=';', parse_dates=True, na_values='?', low_memory=False)

In [ ]:
df.head(2)

         Date      Time  ...  Sub_metering_2  Sub_metering_3
0  16/12/2006  17:24:00  ...             1.0            17.0
1  16/12/2006  17:25:00  ...             1.0            16.0

[2 rows x 9 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075259 entries, 0 to 2075258
Data columns (total 9 columns):
 #   Column                 Dtype
---  ------                 -----
 0   Date                   object
 1   Time                   object
 2   Global_active_power    float64
 3   Global_reactive_power  float64
 4   Voltage                float64
 5   Global_intensity       float64
 6   Sub_metering_1         float64
 7   Sub_metering_2         float64
 8   Sub_metering_3         float64
dtypes: float64(7), object(2)
memory usage: 142.5+ MB

In [ ]:
df.isnull().sum()

Date                         0
Time                         0
Global_active_power      25979
Global_reactive_power    25979
Voltage                  25979
Global_intensity         25979
Sub_metering_1           25979
Sub_metering_2           25979
Sub_metering_3           25979
dtype: int64

In [ ]:
#df.fillna(df.mean(), inplace=True)

In [ ]:
df.describe()

       Global_active_power  ...  Sub_metering_3
count         2.049280e+06  ...    2.049280e+06
mean          1.091615e+00  ...    6.458447e+00
std           1.057294e+00  ...    8.437154e+00
min           7.600000e-02  ...    0.000000e+00
25%           3.080000e-01  ...    0.000000e+00
50%           6.020000e-01  ...    1.000000e+00
75%           1.528000e+00  ...    1.700000e+01
max           1.112200e+01  ...    3.100000e+01

[8 rows x 7 columns]

In [ ]:
df['Global_active_power'].fillna(1.091615, inplace= True)
df['Global_reactive_power'].fillna(1.237145e-01, inplace=True)
df['Voltage'].fillna(2.408399e+02, inplace=True)
df['Global_intensity'].fillna(121923, inplace=True)
df['Sub_metering_1'].fillna(6.458447, inplace=True)
df['Sub_metering_2'].fillna(1.298520, inplace=True)
df['Sub_metering_3'].fillna(6.458447, inplace=True)