In [1]:
#import necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [152]:
#import the data set
df = pd.read_csv('energydata_complete.csv')

In [3]:
#Check the rows and columns
df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [4]:
#import linear regression
from sklearn.linear_model import LinearRegression

In [5]:

lr = LinearRegression()

In [6]:
#General info about the data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 29 columns):
date           19735 non-null object
Appliances     19735 non-null int64
lights         19735 non-null int64
T1             19735 non-null float64
RH_1           19735 non-null float64
T2             19735 non-null float64
RH_2           19735 non-null float64
T3             19735 non-null float64
RH_3           19735 non-null float64
T4             19735 non-null float64
RH_4           19735 non-null float64
T5             19735 non-null float64
RH_5           19735 non-null float64
T6             19735 non-null float64
RH_6           19735 non-null float64
T7             19735 non-null float64
RH_7           19735 non-null float64
T8             19735 non-null float64
RH_8           19735 non-null float64
T9             19735 non-null float64
RH_9           19735 non-null float64
T_out          19735 non-null float64
Press_mm_hg    19735 non-null float64
RH_out         19735 non-null float64
Windspeed      19735 non-null float64
Visibility     19735 non-null float64
Tdewpoint      19735 non-null float64
rv1            19735 non-null float64
rv2            19735 non-null float64
dtypes: float64(26), int64(2), object(1)
memory usage: 4.4+ MB

### Question 12

In [163]:
X =np.array( df['T2']).reshape(-1,1)
y = df['T6']

In [164]:
from sklearn.model_selection import train_test_split

In [191]:
from sklearn.metrics import r2_score, mean_absolute_error,mean_squared_error

In [166]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.3, random_state=42)

In [167]:
lr.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [168]:
predicted_values = lr.predict(X_test)

In [169]:
r2_score = r2_score(y_test, predicted_values)

In [170]:
round(r2_score,2)

0.64

### Question 13 - 17

In [171]:
df.drop(columns=['date','lights'], inplace=True)

In [172]:
y = df['Appliances']

In [173]:
X = df.drop(columns=['Appliances'])

In [174]:
from sklearn.preprocessing import MinMaxScaler

In [175]:
minmax = MinMaxScaler()

In [177]:
#Scaling the data
X_scaled = minmax.fit_transform(X)

In [178]:
X.shape

(19735, 26)

In [179]:
#Split the data
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.3, random_state=42)

In [180]:
lr.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [181]:
predicted_val = lr.predict(X_test)

### Q13

In [124]:
mae = mean_absolute_error(y_test, predicted_val)

In [183]:
print(f"The mean absolute error is {round(mae,2)}")

The mean absolute error is 53.64

### Q14

In [230]:
rss = np.sum(np.square(y_test - predicted_val))

In [231]:
print(f'The Residual Sum of Squares is {round(rss,2)}')

The Residual Sum of Squares is 21973928305400.0

### Q15

In [188]:
rmse = np.sqrt(mean_squared_error(y_test, predicted_val))

In [189]:
print(f'The RMSE is {round(rmse,3)}')

The RMSE is 131.92

### Q16

In [192]:
r2_score1 = r2_score(y_test, predicted_val)

In [194]:
print(f'The Coefficient of Determination is {round(r2_score1,2)}')

The Coefficient of Determination is -0.69

### Q17

In [197]:
weights= pd.Series(lr.coef_,X.columns).sort_values()

In [198]:
weights_df = pd.DataFrame(weights).reset_index()

In [205]:
weights_df

          index           0
0          RH_2 -488.666805
1         T_out -344.389845
2            T2 -252.710373
3            T9 -203.236627
4          RH_8 -168.627161
5        RH_out  -83.107599
6          RH_7  -47.736592
7          RH_9  -42.586339
8            T5  -16.752822
9            T1   -3.510725
10          rv1    0.824005
11          rv2    0.824005
12  Press_mm_hg    7.318079
13           T7   11.041091
14   Visibility   13.168072
15         RH_5   17.126194
16         RH_4   28.232781
17           T4   31.009668
18    Windspeed   31.225948
19         RH_6   40.712058
20         RH_3  102.771652
21           T8  109.134698
22    Tdewpoint  126.000776
23           T6  252.974652
24           T3  310.971037
25         RH_1  592.294862

In [207]:
print(f"The lowest weight is {weights_df.min()} and the highest weight is {weights_df.max()}")

The lowest weight is index    Press_mm_hg
0           -488.667
dtype: object and the highest weight is index        rv2
0        592.295
dtype: object

In [208]:
from sklearn.linear_model import Ridge, Lasso

In [209]:
ridge = Ridge(alpha=0.4)

In [210]:
ridge.fit(X_train, y_train)

Ridge(alpha=0.4, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

In [211]:
rigde_pred = ridge.predict(X_test)

In [212]:
rmse = np.sqrt(mean_squared_error(y_test, rigde_pred))

### Question 18

In [213]:
print(f'The rmse for Lasso is {round(rmse,3)}')

The rmse for Lasso is 93.661

### Question 19

In [214]:
lasso = Lasso(alpha=0.001)

In [215]:
lasso.fit(X_train,y_train)

Lasso(alpha=0.001, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

In [216]:
lasso_pred = lasso.predict(X_test)

In [217]:
weights= pd.Series(lasso.coef_,X.columns).sort_values()

In [218]:
lasso_weights = pd.DataFrame(weights)

In [225]:
lasso_weights[0]==0

RH_2           False
T_out          False
T2             False
T9             False
RH_8           False
RH_out         False
RH_7           False
RH_9           False
T5             False
T1             False
rv2            False
rv1            False
Press_mm_hg    False
T7             False
Visibility     False
RH_5           False
RH_4           False
T4             False
Windspeed      False
RH_6           False
RH_3           False
T8             False
Tdewpoint      False
T6             False
T3             False
RH_1           False
Name: 0, dtype: bool

In [227]:
lasso_weights.shape[0]

26

### Question 20

In [228]:
rmse = np.sqrt(mean_squared_error(y_test, lasso_pred))

In [229]:
round(rmse,3)

93.641